@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

Button {
    color: floralwhite !important;
    /*font-family: 'Space Grotesk', sans-serif !important;*/
}

@media screen and (max-width: 767px) {
    Button {
        font-size: large !important;
    }
}

@media screen and (min-width: 767px) {
    Button {
        font-size: x-large !important;
    }
}