.contact-text {
    white-space: initial;
    font-size: larger;
    /*text-align: left;*/
    text-align: justify;
}
.contact-links {
    text-align: start;
}
@media screen and (max-width: 767px) {
    .contact-text {
        font-size: medium;
    }
    .contact-links, a {
        font-size: medium;
        word-break: break-word;
    }
    .contact-links {
        /*margin-left: -10%;*/
    }
    .col-left {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width: 767px) {
    .contact-text {
        font-size: x-large;
    }
    .contact-links {
        font-size: larger;
    }
    a {
        font-size: larger;
    }
}
