.CV {
    padding-top: 2vh;
    padding-bottom: 1vh;
}
.btn-page {
    font-size: medium !important;
}
.icon {
    font-size: xx-large;
}
/*.CV-page {*/
/*    padding: 2% 1% 1% 2%;*/
/*    width: 90px;*/
/*    !*max-width: 90px;*!*/
/*    !*height: auto;*!*/
/*}*/
#placeholderWrapper {
    width: 1vw;
    height: 1vh;
}
#pdfWrapper {
    width: 90%;
    height: auto;
    padding: 1% 5% 5%;
}
/*id="row" style={{height: "auto", width: "100vw", display: "flex", overflow: "hidden"}}*/
