.skills-text {
    font-size: x-large;
    white-space: initial;
    text-align: left;
}

.skills-header {
    font-size: large;
    padding-top: 4%;
}

.skills-description-row:hover {
    background-color: grey;
    /*padding-right: 10%;*/
    /*padding-left: 10%;*/
    transition-delay: 0.1s;
}

.star {
    size: 40px;
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .skills-text {
        font-size: large;
    }

    .skills-description {
        font-size: large;
        /*text-align: left;*/
    }
}

@media screen and (min-width: 767px) {
    .skills-text {
        font-size: x-large;
    }

    .skills-description {
        font-size: large;
        /*text-align: left;*/
    }
}


/*.skills-description-row:hover .skills-description {*/
/*    !*padding-left: 10%;*!*/
/*    transition-delay: 0.1s;*/
/*}*/
/*.skills-description-row:hover .star-rating {*/
/*    !*padding-right: 10%;*!*/
/*    transition-delay: 0.1s;*/
/*}*/