.selected {
    font-weight: bold !important;
    background-color: lightsteelblue !important;
}
.active {
    font-weight: bold !important;
    /*background-color: lightsteelblue !important;*/
    display: block !important;
}