.sidebar {
    /*justify-content: center;*/
    /*text-align: center;*/
    flex-direction: column;
    /*align-items: center;*/
    /*height: 100vh !important;*/
    background-color: #616161;
    /*background-image: ;*/
    /*color: #282c34 !important;*/
    color: #f8dad4;
    /*color: inherit;*/
    /*width: 100%;*/
    opacity: 0.85;

}