@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.project-modal {
    /*width: 90vw !important;*/
    min-width: 90vw;
    /*height: 80vh;*/
    /*max-height: 60vh;*/
    /*padding-left: 25%;*/
    font-family: 'Space Grotesk', sans-serif;
    /*overflow-y: auto;*/
}
a {
    font-size: medium;
}
.icon {
    size: 4em;
}
@media screen and (max-width: 767px) {
    .project-modal {
        padding: 5% 5% 5%;
    }
}
@media screen and (min-width: 767px) {
    .project-modal {
        padding: 0 0 5% 25%;
    }
}
.text {
    white-space: initial !important;
}
.section-title {
    text-align: left;
    padding: 1% 0 1%;
    font-weight: bold;
}
