.avatar {
    /*display: block;*/
    max-width: 60%;
    height: auto;
}
.row {
    text-align: center;
}
.name {
    font-size: xx-large;
}
.caption {
    font-size: large;
}
a, a:visited, a:hover, a:active {
    color: inherit !important;
    text-decoration: none !important;
}