.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.page {
  /*min-height: 100vh !important;*/
  /*height: 300vh;*/
}
.content {
  text-align: center;
  /* base blue: 154c79*/
  /*background-color: #93c4ec;*/
  min-height: 100vh;
  color: floralwhite;
}
.content-box {
  margin: 2% 5% 5%;
  background-color: #282c34;
  width: 90%;
  height: 95%;
  opacity: 80%;
  border: 5px solid black;
}