.content {
  min-height: 100vh;
  color: floralwhite;
}
.content-box {
  margin: 2% 5% 5%;
  background-color: #282c34;
  /*background-color: #616161;*/
  width: 90%;
  height: 95%;
  opacity: 0.8;
  border: 5px solid black;
}