@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
.content {
  /*height: 100vh;*/
  color: floralwhite;
}
.content-box {
  /*background-color: #616161;*/
  background-color: #282c34;
  height: 95vh;
  /*height: auto;*/
  /*padding-bottom: 10%;*/
  opacity: 0.9;
  border: 3px solid black;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .content-box {
    margin: 2% 0 0;
    width: 100%;
  }
  .content {
    height: 94.5vh;
  }
  .content-box {
    height: 90vh;
  }
}
@media screen and (min-width: 767px) {
  .content-box {
    width: 90%;
    margin: 2% 5% 2%;
  }
  .content {
    height: 100vh;
  }
  .content-box {
    height: 93vh;
  }
}
